filesystem/last_crash.txt
filesystem/_launcher_state
filesystem/_launcher_state__
filesystem/splash.py
filesystem/splash
filesystem/Saves
filesystem/lib

production_files

doc/build
.vscode
**/desktop.ini
filesystem/system/settings.txt
firmware_date.h
filesystem/lib
filesystem/Games/TempGames